 * {
     margin: 0;
     padding: 0;
 }
 
 .imgbox {
     display: grid;
     height: 100%;
 }
 
 .breadCrumb-bg {
     background-color: rgb(46, 69, 146);
 }
 
 .center-fit {
     max-width: 100%;
     max-height: 100vh;
     margin: auto;
 }
 
 .first {
     padding-right: 20px;
     padding-bottom: 5px;
 }
 
 .textColour {
     color: whitesmoke;
     text-decoration: whitesmoke;
 }
 
 a:link {
     text-decoration: none;
 }
 
 a:hover {
     text-decoration: underline;
 }
 
 .white-box {
     background-color: white;
     color: black;
 }
 
 #first {
     background-color: rgb(51,51,102);
}
 
 
 #first_row {
     text-align: right;
     color: rgb(218, 216, 216);
     padding-bottom: 10px;
     padding-top: 5px;
 }
 
 #second_row {
     background-color: rgb(120, 120, 120);
     padding-top: 17px;
     padding-bottom: 17px;
     padding-left: 20px;
     align-content: center;
     color: white;
 }
 
 #heading {
     font-size: 23px;
     font-style: oblique;
     font-family: cursive
 }
 
 
 #submitButton {
     background-color: rgb(51,51,102);
     color: whitesmoke
 }
 
 #third_row {
     background-color: rgb(255,239,213)
 }
 
 .list-elements {
     padding-top: 25px
 }
 
 #temple {
     border-radius: 3px 3px 3px 3px
 }
 
 #final_column {
     justify-content: center;
     align-items: center
 }
 
 #panel-elements {
     background-color: white;
     text-align: left;
     padding-left: 10px;
     padding-bottom: 10px;
     padding-top: 10px;
     border-radius: 5px 5px 5px 5px;
 }
 
 .bluey {
     color: cornflowerblue
 }
 
 #btnGroup {
     padding-top: 25px;
     padding-bottom: 25px;
     width: 6cm
 }
 
 #tags {
     padding-top: 10px;
     padding-bottom: 10px
 }
 
 #divbg {
     background-color: white;
     text-align: left;
     padding-left: 10px;
     padding-bottom: 10px;
     padding-top: 10px;
     border-radius: 5px 5px 5px 5px;
 }
 
 .tag-label {
     background-color: rgb(51,51,102);
     padding-right: 2px;
     padding-left: 2px;
     color: whitesmoke;
 }
 
 #nest-row {
     padding-top: 25px;
     padding-left: 20px
 }
 
 .thumbnail-border {
     border-style: solid;
     border-width: 1px;
     border-color: #DCDCDC;
     padding: 10px;
 }
 
 #rowLast {
     background-color: rgb(51,51,102);
     color: whitesmoke;
     padding: 15px 15px 15px 15px;
 }
 
 #pInfo {
     font-size: small;
 }
 
 #headquarters {
     color: blanchedalmond;
 }
 #follow {
     color: blanchedalmond;
 }
 #recent_posts {
     color: blanchedalmond;
 }
 #envelope {
     color: blanchedalmond;
 }
 #share {
     color: blanchedalmond;
 }
 
 #submit-width {
     width: 175px;
 }
 
 #copy_rights {
     text-align: center;
     background-color: rgb(120,120,120);
     color: blanchedalmond;
 }
 
 .bread-crumb {
     background: darkblue;
     align-content: center;
     vertical-align: top;
     background-color: darkblue;
 }
 
 #camera-fill {
     background-color: violet;
 }
 
 #person-fill {
     background-color: blue;
 }
 
 #tag-fill {
     background-color: skyblue;
 }
 
 #save-fill {
     background-color: maroon;
 }
 
 #flower-fill {
     background-color: chocolate;
 }
 
 .width-set {
     width: 100%
 }
 
 #li-pad {
     padding-right: 40px
 }
 .pull-right {
    float: right;
}